<html>
<head>
    <title>Интернет-магазин Михаила</title>
</head>
<body>
    <div id="container_for_form">
        <form id="name_form_for_registration">
            <input type="email" id="email" placeholder="123vergar.m.v_@mail.ru" name="email">
            <input type="password" id="password" placeholder="12345" name="password">
            <input type="button" id="button_form_registration_user" value="Зарегистрироваться">
        </form>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/jsUser.js"></script>
</body>
</html>