<html>
<head>
    <title>Личный профиль Михаила</title>
</head>
<body>
    <section>
        <form>
            <label>ФИО</label>
        </form>
        <form id="fio_user_id">
            <textarea rows="1" type="text" placeholder="Иванов Иван Иванович" name="updateFullName">Иванов Иван Иванович></textarea>
        </form>
        <form>
            <label>Адрес эл. почты</label>
        </form>
        <form>
            <textarea rows="1" type="email" placeholder="ivanov@mail.ru" name="updateEmail">dvoechnik.ru></textarea>
        </form>
        <form>
            <label>Номер телефона</label>
        </form>
        <form id="emailData">
            <textarea rows="1" type="tel" placeholder="89674600924" name="phoneNumber">89674600924></textarea>
        </form>
            <input formmethod="post" formaction="/updateInformationUser/" type="submit"
                   class="button_save" id="button_save" value="Сохранить">
    </section>

    <script src="/js/jquery.js"></script>
    <script src="/js/jsUser.js"></script>
</body>
</html>